[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Curso Java web - Documentos de Google
Type=Link
URL=https://docs.google.com/document/d/1C6sqDvYr-t-M51eNmohm4jKRZeXzdRez6MFyQClrBAE/edit
Icon=text-html
